body {
  background: white;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
}
nav {
	background: white;
	padding: 0 20px;
}
nav ul a {
	color: black;
}
.hero {
	width: 100%;
  height: calc(100vh - 50px);
  margin: 0;
  padding: 50px 8.5%;
  background-color: black;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
i {
  color: black;
}
.hero h1 {
  margin-top: 50px;
}
iframe {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
  max-width: 90%;
}
section {
	margin: 0!important;
	padding: 74px;
	text-align: center;
	min-height: auto;
}
.container {
	margin: auto;
}
.no-padding {
	padding: 0;
}
section.dark {
	background-image: linear-gradient(293deg, #000000, #313131);
	color: white;
}
section.dark-grey, div.dark-grey {
	background-color: #e8e9ea;
}
section.grey {
	background-color: #f8f8f8!important;
}
.grey {
	background-color: #f8f8f8!important;
}
section.dark h1 {
	color: #84deef;
}
section h1.blue {
  color: #00d0f6;
  background: transparent!important;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	margin-top: 0;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
	font-weight: 700;
	margin-top: 0;
	display: flex;
	justify-content: flex-start;
  align-items: center;
}
p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
}
p a {
	font-weight: 400;
	font-size: 17px;
	color: #00d0f6;
}
p.medium {
	font-size: 17px;
	line-height: 1.7;
}

.long {
	max-width: 650px;
	margin: auto;
}

.x-long {
	max-width: 900px;
	margin: auto;
}

.box {
	padding: 60px!important;
	text-align: left;
}
.line-span {
	margin-left: 15px;
  padding-left: 38px;
  line-height: 1;
  font-size: 6px;
  color: transparent;
  background-image: linear-gradient(to right, #90e9fa, #00d4ff);
}
.first-line-span {
	margin-right: 15px;
  padding-right: 38px;
  line-height: 1;
  font-size: 6px;
  color: transparent;
  background-image: linear-gradient(to right, #90e9fa, #00d4ff);
}

/*icons*/
.icons {
	padding-bottom: 300px;
}
.icons p {
	color: #ffffff;
	height: 13px;
  opacity: 0.7;
  -moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	-o-hyphens:auto;
	hyphens:auto;
	word-wrap: break-word;
}
.icons p.title {
	height: 16px;
	font-weight: 700;
}
.icons .col {
	height: 230px;
}
.scalable {
	height: 35.8px;
}
.fast {
	height: 40px;
}
.private {
	height: 37px;
}
.interoperable {
	height: 53px;
}
.low-fees {
	height: 40px;
}
.micropayments {
	height: 52px;
}


/*USE CASES*/
.cases-text-box {
	padding: 30px;
	text-align: left;
	max-width: 400px;
	margin-top: 60px;
}
.use-cases-box {
  max-width: 900px;
  margin: auto;
}
.cases-text-box p, .faq-content p, .raiden-101 p {
	margin-left: 54px;
}
.cases-text-box h2 {
	color: #00d0f6;
}
.use-cases img {
	max-width: 293px;
  padding: 30px;
}
.right-image-box img {
	margin-right: 54px;
	padding: 30px;
}
.left-image-box img {
	margin-left: 54px;
	padding: 30px;
}
.use-cases-box {
	display: flex;
  align-items: center;
  justify-content: space-between;
}

#raiden101 {
	padding-bottom: 200px!important;
}
.video1 {
  width: 689px;
  height: 389px;
  margin-top: -200px;
  max-width: 95%;
}

.video2 {
  width: 689px;
  height: 389px;
  max-width: 95%;
  margin-top: -300px;
}



.inner-box {
  max-width: 550px;
  margin: auto;
}

/*FAQ*/
#sidebar {
  padding-right: 0px;
  position: fixed;
  color: black;
  float: left;
  top: 66px;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  text-align: left;
}

.faq-sidebar ul li {
  padding: 5px 10px;
}
.faq-sidebar ul li a {
  color: black;
  font-size: 14px;
}

.faq-sidebar ul li.active a {
  background-color: transparent;
  color: #00d0f6;
  font-weight: bold;
}
.faq-sidebar li .secondary {
	margin-left: 20px;
}

#parent {
  position: fixed;
  color: black;
  float: left;
  top: 66px;
  right: 1px;
  bottom: 0;
  overflow-y: scroll;
  width: 73%;
  text-align: left;
  padding: 30px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #f4f4f4;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #f4f4f4;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.3);
  background-color: #848484;
}

.faq-content h1, .raiden-101 h1 {
	font-size: 33px;
  margin-left: 51px;
  margin-top: 100px;
  text-align: left;
}

.faq-content h2, .raiden-101 h2 {
	margin-top: 40px;
	text-transform: uppercase;
}
.faq-content h2 a, .raiden-101 h2 a {
	padding: 0 8px;
	color: #00d0f6;
}

.faq-content h3, .raiden-101 h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
	font-weight: 700;
	margin-top: 0;
	display: flex;
	justify-content: flex-start;
  align-items: center;
  margin-left: 54px;
}
.faq-content ol, .raiden-101 ol {
	margin-left: 51px;
  list-style-type: disc;
  text-align: left;
  font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 17px;
	line-height: 1.7;
}

.raiden-101 p {
	text-align: left;
}




@media (max-width: 600px) { /*Para monitores small*/
	section { padding: 30px 10px; }
  h1 { font-size: 30px; }
  .µhero-title { font-size: 40px !important; }
  .use-cases-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cases-text-box p {
    margin-left: 0;
  }
  .right-image-box img {
    padding: 0;
    margin: 0;
  }
  .footer-box, .status-container {
    flex-direction: column;
  }
  .footer-box div {
    margin-top: 30px;
  }
  .faq-content h1, .raiden-101 h1 {
    margin-left: 0;
  }
  .cases-text-box p, .faq-content p, .raiden-101 p {
    margin-left: 0;
  }
  .micro-raiden-faq-box h2 {
    text-align: left;
  }
  .faq-page {
    padding: 3px 0;
  }
  .faq-page .container {
    margin: 0px!important;
    width: 100%;
  }
  #parent { width: 100%; }
  #sidebar {display: none;}
}
